* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

.limite-de-largura {
    width: 1024px;
    margin: 0 auto;
}

.cabecalho {
    padding: 20px;
}

.cabecalho, .rodape {
    background-color: #4711C1;
    width: 100%;
    color: #fff;
}

.cabecalho h1 {
    display: inline;
    font-weight: normal;
    font-size: 20px;
    margin: 0 20px 0 0;
}

.cabecalho a {
    font-size: 14px;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    background-color: #fff;
    color: #4711C1;
}

h2 {
    text-align: center;
    margin: 20px;
}

.rodape {
    text-align: center;
    padding: 10px 0;
}